<!-- Header -->
<app-header [cartCount]="cartItems.length"></app-header>

<!-- Main Content Area -->
<div class="container-fluid" style="height: calc(100vh - 70px);">
  <div class="row h-100">
    <!-- Product List (70%) -->
    <div class="col-8 d-flex flex-column" style="height: 100%;">
      <div class="product-list-scrollable flex-grow-1">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col" *ngFor="let product of products">
            <app-product-card [product]="product" (addToCart)="onAddToCart($event)">
            </app-product-card>
          </div>
        </div>
      </div>
    </div>

    <!-- Chat Section (30%) -->
    <div class="col-4 bg-light border-start d-flex flex-column" style="height: 100%;">
      <div class="chat-messages flex-grow-1 overflow-auto p-3">
        <div *ngFor="let msg of messages" class="mb-2">
          <div class="alert alert-primary">{{ msg }}</div>
        </div>
      </div>
      <div class="p-3 border-top">
        <div class="input-group">
          <input type="text" class="form-control" [(ngModel)]="newMessage" placeholder="Type message...">
          <button class="btn btn-success" (click)="sendMessage()">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
